
.node-clip.view-mode-full {

  .field-name-title {
    background-color: $primary-color;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5em 1em 0.35em;
  }

}
